*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: url(https://i.imgur.com/9YKVj.jpg) ;
    background-size: cover;
    font-family: Syncopate;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.int{
    color: white;
    opacity: 0.9;
}

.str{
    display: flex;
    justify-content: center;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    color: white;
    opacity: 0.7;
}
#hourAndMin{
    font-size:8rem;
    letter-spacing: .2rem;
}

#sec{
    font-size: 4rem;
    letter-spacing: 0.4rem;
}

